amqp==5.3.1
asgiref>=3.6.0
async-timeout==5.0.1
billiard==4.2.4
boto3>=1.34.0
botocore>=1.34.0
cachetools>=5.0.0
celery==5.3.4
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
dj-database-url==2.0.0
Django==4.2.25
django-cors-headers==4.0.0
django-filter==23.2
django-storages==1.14.6
djangorestframework==3.14.0
drf-spectacular==0.28.0
pandas==2.0.3
openpyxl==3.1.2
djangorestframework-simplejwt==5.2.2
et_xmlfile==2.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.28.1
google-auth==2.43.0
google-generativeai==0.3.2
googleapis-common-protos==1.72.0
grpcio>=1.50.0
grpcio-status>=1.48.0
gunicorn==21.0.0
idna==3.11
jmespath==1.1.0
kombu==5.6.1
lxml==6.0.2
numpy==1.24.3
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
packaging==25.0
pandas==2.0.3
pdf2image==1.17.0
Pillow==10.0.0
prompt_toolkit==3.0.52
proto-plus==1.26.1
protobuf==4.25.8
psycopg2-binary==2.9.6
PuLP==3.3.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.10.1
PyPDF2==3.0.1
python-barcode==0.16.1
python-dateutil==2.8.2
python-decouple==3.8
python-docx==1.1.0
python-dotenv==1.0.1
pytz==2023.3
redis==5.0.1
reportlab==4.0.4
requests==2.31.0
rsa==4.9.1
s3transfer>=0.10.0
six==1.17.0
sqlparse==0.5.4
tqdm==4.67.1
typing_extensions>=4.0.0
tzdata==2025.3
urllib3==1.26.20
vine==5.1.0
wcwidth==0.2.14
whitenoise==6.5.0
XlsxWriter==3.1.2
